{% extends "_base.html" %}
{% block head %}
  <link rel = "stylesheet" href = {{url_for('static',filename ="css/overview.css")}}>
{% endblock%}
{% block content %}

<!--<form class = "form-signin" role = "form" method = "POST" >
	{{form.csrf_token}}
	<p>
		{{form.name(placeholder = "name")}}
		<span class = "error">
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					{{error}}
				{% endfor %}
			{% endif %}
		</span>
	</p>
	<p>
		{{form.password(placeholder = "password")}}
		<span class = "error">
			{% if form.password.errors %}
				{% for error in form.password.errors %}
					{{error}}
				{% endfor %}
			{% endif %}
		</span>
	</p>
	<button class = "btn btn-sm btn-success" type = "submit">Sign in </button>
</form>-->

<div class = "react-charts">
</div>
<script type = "text/javascript">

  var height = $(".content").width() * 0.7 * 0.5;


  var overview_options = JSON.parse('{{overview_options|safe}}');

	var average_comparion_options = JSON.parse('{{average_comparion_options|safe}}');
  //average_comparion_options.chart.height = height;
	var percentage_options1 = JSON.parse('{{percentage_options1|safe}}');
  //percentage_options1.chart.height = height;
	var regional_average_options = JSON.parse('{{regional_average_options|safe}}');
  //regional_average_options.chart.height = height;
	var percentage_options2 = JSON.parse('{{percentage_options2|safe}}');
  //percentage_options2.chart.height = height;
	var pageTitle = "Bruce's Overview";

</script>


<script src = "{{url_for('static',filename = 'js/overview.js')}}"></script>
<script>

function setDivHeight() {
    var div = $('#react-container2');
    var newHeight = div.width() * 0.7;
    div.height(newHeight);
    div = $('#react-container3');
    div.height(newHeight);
    div = $('#react-container4');
    div.height(newHeight);
    div = $('#react-container5');
    div.height(newHeight);
    div = $('#react-container1');
    div.height(Math.ceil(div.width() * 0.7));

};

$(document).ready(function(){
    $(window).resize(function(){
       setDivHeight();
    });

});
</script>

{% endblock %}
