{% extends "_base.html" %}
{% block head %}
  <link rel = "stylesheet" href = {{url_for('static',filename ="css/progress.css")}}>
{% endblock head %}
{% block content %}
<div class = "react-charts">
</div>
<script type = "text/javascript">
	var progress = JSON.parse('{{progress|safe}}');
  var pageTitle = "Bruce's Progress Tracker";

  var overall = JSON.parse('{{overall|safe}}');
  var math = JSON.parse('{{math|safe}}');
  var science = JSON.parse('{{science|safe}}');
  var reading = JSON.parse('{{reading|safe}}');
  var writing = JSON.parse('{{writing|safe}}');
	console.log(progress.series[0]);

</script>

<script src = "{{url_for('static',filename = 'js/progress.js')}}"></script>

{% endblock %}
